@use "./global/variables" as *;
@use "./global/media" as *;

.intro {
  position: relative;
  padding-top: 73px;

  @media #{$not-mobile} {
    padding-top: 119px;
  }
}

.intro__heading {
  position: relative;
  z-index: 1;
  margin-bottom: 120px;
  padding: 0 var(--page-offset);
  font: 700 27px/30px var(--font-default);
  color: $color-dark;
  text-align: center;

  @media #{$not-mobile} {
    margin-bottom: 372px;
    font-size: 43px;
    line-height: 50px;
  }
}

.intro__image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
