<footer class="footer">
  <div class="container">
    <div class="footer__body">
      <a class="footer__logo" href="index.html">
        <span class="visually-hidden">Логотип сайта. Переход на главную.</span>
      </a>
      <ul class="footer__social social">
        <li class="social__item">
          <a class="social__link social__link--vk" href="https://vk.com/htmlacademy">
            <span class="visually-hidden">Перейти в vkontakte.</span>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--youtube" href="https://www.youtube.com/user/htmlacademyru">
            <span class="visually-hidden">Перейти в youtube.</span>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--telegram" href="https://t.me/htmlacademy">
            <span class="visually-hidden">Перейти в telegram.</span>
          </a>
        </li>
      </ul>
      <a class="footer__copyrights" href="https://htmlacademy.ru/intensive/adaptive" aria-label="Перейти на сайт htmlacademy.">
        <span class="footer__copyrights-text">Разработано</span>
        <span class="visually-hidden">htmlacademy</span>
      </a>
    </div>
  </div>
</footer>
