<header class="header">
  <a class="header__logo" href="index.html">
    <span class="visually-hidden">Логотип сайта. Переход на главную.</span>
    <picture>
      <source media="(min-width: {{viewports.desktop}}px)" srcset="img/stack.svg#logo-desktop" type="image/svg+xml" width="149" height="72">
      <source media="(min-width: {{viewports.tablet}}px)" srcset="img/stack.svg#logo-tablet" type="image/svg+xml" width="114" height="46">
      <img class="header__logo-image" src="img/stack.svg#logo-mobile" width="86" height="35" alt="Текстовый логотип сайта в виде слова мишка">
    </picture>
  </a>
  <nav class="header__navigation header__navigation--no-js">
    <button class="header__navigation-toggle" type="button">
      <span class="visually-hidden">Открыть/закрыть меню.</span>
    </button>
    <div class="header__navigation-list">
      <ul class="header__menu-main">
        <li class="header__menu-main-item">
          <a class="header__menu-main-link" href="catalog.html">Каталог товаров</a>
        </li>
        <li class="header__menu-main-item">
          <a class="header__menu-main-link" href="form.html">Вязание на заказ</a>
        </li>
      </ul>
      <ul class="header__menu-user">
        <li class="header__menu-user-item">
          <a class="header__menu-user-link header__menu-user-link--icon-only" href="#">
            <svg class="header__menu-user-icon" aria-hidden="true" focusable="false" width="18" height="18" viewBox="0 0 18 18" fill="currentcolor" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="img/stack.svg#icons_search"/>
            </svg>
            <span class="header__menu-user-text">Поиск по сайту</span>
          </a>
        </li>
        <li class="header__menu-user-item">
          <a class="header__menu-user-link" href="#">
            <svg class="header__menu-user-icon" aria-hidden="true" focusable="false" width="21" height="18" viewBox="0 0 21 18" fill="currentcolor" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="img/stack.svg#icons_cart"/>
            </svg>
            <span class="header__menu-user-text">Корзина: пока пуста</span>
          </a>
        </li>
      </ul>
      <ul class="header__menu">
        <li class="header__menu-item">
          <a class="header__menu-link" href="#">Новые поступления</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#">Распродажа</a>
        </li>
      </ul>
      <p class="header__infoblock">Бесплатная доставка по России</p>
    </div>
  </nav>
</header>
