<header class="header">
  <a class="logo" href="index.html">
    <span class="visually-hidden">Логотип сайта. Переход на главную.</span>
  </a>
  <nav class="navigation">
    <button class="navigation__toggle" type="button">
      <span class="visually-hidden">Открыть/закрыть меню.</span>
    </button>
    <div class="navigation__body">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link" href="catalog.html">Каталог товаров</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="form.html">Вязание на заказ</a>
        </li>
      </ul>
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link" href="#">Поиск по сайту</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#">Корзина: пока пуста</a>
        </li>
      </ul>
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link" href="#">Новые поступления</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#">Распродажа</a>
        </li>
      </ul>
      <p class="navigation__info">Бесплатная доставка по России</p>
    </div>
  </nav>
</header>
