{% set pageId = 0 %}
{% set permalink = pages[pageId].path %}
{% extends "templates/_layout.twig" %}

{% block main %}
  <main class="layout__main">
    <h1 class="visually-hidden">Интернет-магазин "Мишка". Товары для дома ручной работы.</h1>
    <section class="intro">
      <h2 class="intro__heading">Милые штуки ручной работы для дома</h2>
      {% include "./templates/picture.twig" with {
        name: "intro",
        class: "intro__image",
        alt: "Кукольный домик с вязанными игрушками."
      } %}
      <ul class="intro__menu">
        <li class="intro__menu-item">Предметы интерьера</li>
        <li class="intro__menu-item">Детские игрушки</li>
      </ul>
    </section>
    <section class="product">
      <h2 class="product__heading">Вязаные корзинки</h2>
      <p class="product__spoiler">товар недели</p>
      <p class="product__description">Экологически чистая пряжа, ручная работа. Доступны в шести расцветках и трёх размерах.</p>
      <dl class="product__parameters">
        <dt class="product__parameters-name">Цвет:</dt>
        <dd class="product__parameters-value">тиффани/серый</dd>
        <dt class="product__parameters-name">Диаметр:</dt>
        <dd class="product__parameters-value">25 см</dd>
        <dt class="product__parameters-name">Высота:</dt>
        <dd class="product__parameters-value">15 см</dd>
      </dl>
      {% include "./templates/picture.twig" with {
        name: "triple-set",
        class: "product__image",
        alt: "Набор из трех вазанных корзиночек."
      } %}
      <p class="product__price">Цена: 990 руб.</p>
      <a class="product__button" href="#">заказать</a>
    </section>
    <section class="about">
      <h2 class="about__heading">Коротко о нас:</h2>
      <ul class="about__list">
        <li class="about__item">
          <a class="about__link" href="#">Экологически чистые материалы</a>
        </li>
        <li class="about__item">
          <a class="about__link" href="#">Скандинавский стиль по российской цене</a>
        </li>
        <li class="about__item">
          <a class="about__link" href="#">Увеличивает лайки на фотографиях</a>
        </li>
        <li class="about__item">
          <a class="about__link" href="#">Связано вручную с любовью и умилением</a>
        </li>
        <li class="about__item">
          <a class="about__link" href="#">Поддержка отечественного производителя</a>
        </li>
        <li class="about__item">
          <a class="about__link" href="#">Поставляется в подарочной упаковке</a>
        </li>
      </ul>
    </section>
    <section class="feedback">
      <h2 class="feedback__heading">Отзывы</h2>
      <ul class="feedback__slider">
        <li class="feedback__slider-item">
          <blockquote class="feedback__slider-text">
            <p>Я молодая мама, но всё равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке, и мои фотографии сразу стали более стильными, а также набирают больше лайков!</p>
            <cite class="feedback__slider-author">Анастасия Красильникова <span class="feedback__slider-author-id">@misssssiskras</span></cite>
          </blockquote>
        </li>
      </ul>
      <div class="feedback__slider-toggles">
        <button class="feedback__slider-button feedback__slider-button-prev" type="button">
          <span class="visually-hidden">Назад.</span>
        </button>
        <button class="feedback__slider-button feedback__slider-button-next" type="button">
          <span class="visually-hidden">Вперёд.</span>
        </button>
      </div>
      <a class="feedback__link" href="#">Написать</a>
    </section>
    <section class="contacts">
      <h2 class="contacts__heading">Контакты</h2>
      <div class="contacts__option">
        <h2 class="contacts__title">e-mail:</h2>
        <a href="mailto:info@mimimishkashop.ru">info@mimimishkashop.ru</a>
      </div>
      <div class="contacts__option">
        <h2 class="contacts__title">адрес:</h2>
        <a href="mailto:info@mimimishkashop.ru">г. Санкт-Петербург ул. Большая Конюшенная д. 19/8, офис 101</a>
      </div>
      <iframe
        class="contacts__map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.6036253002735!2d30.320858715590237!3d59.938719169054785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca145cc1%3A0x62740c0ffcd8a91f!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LzgsIDEwMSwg0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsIDE5MTE4Ng!5e0!3m2!1sru!2sru!4v1679063203944!5m2!1sru!2sru"
        width="600"
        height="450"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
      <a class="contacts__link" href="#">Напишите нам</a>
    </section>
  </main>
{% endblock %}
